<section class="section" id="material">
    <h1 class="title">Material</h1>
    <div class="content">
        Pueden encontrar las grabaciones de las clases en el siguiente <a href="{{ material }}" target="_blank">link</a>.
    </div>
    <div class="columns">
        <div class="column is-one-third">
            <article class="panel">
                <p class="panel-heading has-text-blue has-background-white">Apuntes</p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Buscar" [(ngModel)]="apuntesSearch" (ngModelChange)="filtrarApuntes(apuntesSearch)">
                        <span class="icon is-left">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div class="pb-5">
                    <div style="height: 22.5rem; overflow-y: scroll;">
                        <a class="panel-block is-active" *ngFor="let apunte of apuntes" href="{{ apunte.url }}" target="_blank">
                            <span class="panel-icon">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                            {{ apunte.nombre | titlecase }}
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="panel">
                <p class="panel-heading has-text-blue has-background-white">Clases</p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Buscar" [(ngModel)]="clasesSearch" (ngModelChange)="filtrarClases(clasesCategory, clasesSearch)">
                        <span class="icon is-left">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <p class="panel-tabs">
                    <a (click)="changeCategory('')" [ngClass]="{'is-active': clasesCategory === ''}">Todas</a>
                    <a (click)="changeCategory('teórica')" [ngClass]="{'is-active': clasesCategory === 'teórica' }">Teórica</a>
                    <a (click)="changeCategory('práctica')" [ngClass]="{'is-active': clasesCategory === 'práctica'}">Práctica</a>
                </p>
                <div class="pb-5">
                    <div style="height: 20rem; overflow-y: scroll;">
                        <a class="panel-block is-active" *ngFor="let clase of clases" href="{{ clase.url }}" target="_blank">
                            <span class="panel-icon">
                                <i class="fa fa-terminal" aria-hidden="true"></i>
                            </span>
                            {{ clase.tipo | titlecase }} - {{ clase.nombre | titlecase }}
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="panel">
                <p class="panel-heading has-text-blue has-background-white">Trabajos Prácticos</p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Buscar" [(ngModel)]="tpsSearch" (ngModelChange)="filtrarTps(tpsSearch)">
                        <span class="icon is-left">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div class="pb-5">
                    <div style="height: 22.5rem; overflow-y: scroll;">
                        <a class="panel-block is-active" *ngFor="let tp of tps" href="{{ tp.url }}" target="_blank">
                            <span class="panel-icon">
                                <i class="fa fa-ghost" aria-hidden="true"></i>
                            </span>
                            {{ tp.nombre | titlecase }}
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
