<section class="section" id="hall-of-fame">
    <p class="title">Hall of fame</p>
    <p class="is-size-5 mb-3">Las siguientes personas formaron parte de este cátedra y al irse, no lo hicieron del todo porque una parte de ellos se quedó con nosotros. Gracias.</p>
    <div class="columns" *ngFor="let docentesRow of docentes">
        <div class="column is-one-fifth" *ngFor="let docente of docentesRow">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5 figure">
                        <img class="image-main" src="{{ docente.url1 }}" srcset="{{ docente.url1 }}" alt="{{ docente.name }}">
                        <img class="image-hover" src="{{ docente.url2 }}" srcset="{{ docente.url2 }}" alt="{{ docente.name }}">
                    </figure>
                </div>
            </div>
            <h5 class="subtitle is-5 pt-2 has-text-centered">{{ docente.name }}</h5>
        </div>
    </div>
</section>