body {
    font-family: "Catamaran", sans-serif !important;
}

.panel-tabs {
    font-size: 1em;
}

article {
    background-color: #ffffff;
}

.figure {
    position: relative;
    max-width: 100%;
}

.figure img.image-main {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

.figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity .2s;
}

.figure:hover img.image-hover {
    opacity: 1;
}

.active-week {
    background-color: #9acef8 !important;
}

.message.is-blue .message-body {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left-width: 5px;
}

.has-text-blue {
    color: #273885 !important;
}

.button.is-blue {
    background-color: #273885;
    border-color: transparent;
    color: #fff;
}

.tag.is-blue {
    background-color: #273885;
    border-color: transparent;
    color: #fff;
}

.message.is-blue .message-body {
    border-color: #273885;
    color: #273885 !important;
}
